<header class="hero">
  <div class="container">
    <section class="title__2">
      <div class="hero__texts">
        <h1 class="hero__title">
          CONTROL DE ASISTENCIA
        </h1>
        <img src="assets/fondo.jpg" class="presentation__picture">
        <h2 class="subhero__title">
          Facilitamos las cosas
        </h2>
      </div>
    </section>
    <p class="letra">
      BIENVENIDO AL SISTEMA DE CONTROL DE ASISTENCIA
    </p>
    <div class="hero__wave" style=" overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.00,50.10 C150.00,150.33 349.20,-50.10 500.00,50.10 L500.00,150.33 L-0.00,150.33 Z" style="stroke: none; fill: #08f;"></path></svg></div>
  </div>
</header>


